html {
    font-size: 10px;
    font-family: sans-serif ;
}

p,
li {
    background-color: #fedc5e;
    padding: 20px;
    border-radius: 10px;
    font-size: 48px;
    text-align: center;
    color: #fedc5e;
    -webkit-text-stroke: 2px white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightgoldenrodyellow;
}
